body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* Occasion styles */
.occasion .name {
    font-size: 20px;
    font-weight: bold;
}

.occasion .time {
    
}

.occasion .address {
    font-size: 18px;
}

.occasion .content {
    padding: 8px;
}


/* Screening header styles */
.screening-headers {
    border: 1px solid #1c1c1c;
    padding: 8px;
}

.screening-headers .list-header {
    font-size: 18px;
    font-weight: bold;
}

.screening-headers .list-element {

}