@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Nem megfelelő jogosultság";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Önnek nincs megfelelő jogosultsága ennek az erőforrásnak az eléréséhez.</p>
</header>
