@page
@model SzuroMemo.Web.Pages.Account.Personal.CalendarModel
@{
    ViewData["Title"] = "Aktuális szűrések";
}

<h2>Esedékes szűrések</h2>
@if (Model.Screenings.Any())
{
    <div class="alert alert-danger">
        Az ön számára esedékesek a következő szűrések:
        <ul>
            @foreach (var screening in Model.Screenings)
            {
                <li>@screening.Name</li>
            }
        </ul>
    </div>
}

<br />
<h2>Szűrések, amikre már jelentkeztem</h2>
<vc:occasion-list occasions="Model.Occasions"></vc:occasion-list>
