@page
@model SzuroMemo.Web.Pages.Account.Personal.DetailsModel
@{
    ViewData["Title"] = "Adataim";
}

<h2>Adataim</h2>

<form method="post">
    <h3>Személyes adatok</h3>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.FullName></label>
            <input asp-for=@Model.MedicalRecord.FullName class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.FullName class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.BirthName></label>
            <input asp-for=@Model.MedicalRecord.BirthName class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.BirthName class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.MotherBirthName></label>
            <input asp-for=@Model.MedicalRecord.MotherBirthName class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.MotherBirthName class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <label asp-for=@Model.MedicalRecord.Address></label>
            <div class="row">
                <div class="col-md-2">
                    <label asp-for=@Model.MedicalRecord.Address.ZipCode></label>
                    <input asp-for=@Model.MedicalRecord.Address.ZipCode class="form-control" />
                    <span asp-validation-for=@Model.MedicalRecord.Address.ZipCode class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for=@Model.MedicalRecord.Address.Settlement></label>
                    <input asp-for=@Model.MedicalRecord.Address.Settlement class="form-control" />
                    <span asp-validation-for=@Model.MedicalRecord.Address.Settlement class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for=@Model.MedicalRecord.Address.StreetAddress></label>
                    <input asp-for=@Model.MedicalRecord.Address.StreetAddress class="form-control" />
                    <span asp-validation-for=@Model.MedicalRecord.Address.StreetAddress class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.Nationality></label>
            <input asp-for=@Model.MedicalRecord.Nationality class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.Nationality class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.TajNumber></label>
            <input asp-for=@Model.MedicalRecord.TajNumber class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.TajNumber class="text-danger"></span>
        </div>
    </div>

    <br />
    <h3>Orvosi adatok</h3>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.Gender></label>
            <br />
            <select asp-for=@Model.MedicalRecord.Gender
                    asp-items="Html.GetEnumSelectList<SzuroMemo.Dal.Entities.MedicalRecord.GenderEnum>()"
                    class="form-control">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for=@Model.MedicalRecord.Gender class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.Height></label>
            <input asp-for=@Model.MedicalRecord.Height class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.Height class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.Weight></label>
            <input asp-for=@Model.MedicalRecord.Weight class="form-control" />
            <span asp-validation-for=@Model.MedicalRecord.Weight class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for=@Model.MedicalRecord.BloodType></label>
            <br />
            <select asp-for=@Model.MedicalRecord.BloodType
                    asp-items="Html.GetEnumSelectList<SzuroMemo.Dal.Entities.MedicalRecord.BloodTypeEnum>()"
                    class="form-control">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for=@Model.MedicalRecord.BloodType class="text-danger"></span>
        </div>
    </div>

    <br />
    <h3>Szülők betegségei</h3>
    <div class="row">
        <div class="col-md-2">
            <h4>Anyai ágon</h4>
        </div>
        <div class="col-md-2">
            <h4>Apai ágon</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.MotherAsthma></label>
            <input asp-for=@Model.MedicalRecord.MotherAsthma class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.FatherAsthma></label>
            <input asp-for=@Model.MedicalRecord.FatherAsthma class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.MotherDiabetes></label>
            <input asp-for=@Model.MedicalRecord.MotherDiabetes class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.FatherDiabetes></label>
            <input asp-for=@Model.MedicalRecord.FatherDiabetes class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.MotherAllergy></label>
            <input asp-for=@Model.MedicalRecord.MotherAllergy class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.FatherAllergy></label>
            <input asp-for=@Model.MedicalRecord.FatherAllergy class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.MotherHeartDisease></label>
            <input asp-for=@Model.MedicalRecord.MotherHeartDisease class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.FatherHeartDisease></label>
            <input asp-for=@Model.MedicalRecord.FatherHeartDisease class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.MotherTumour></label>
            <input asp-for=@Model.MedicalRecord.MotherTumour class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.FatherTumour></label>
            <input asp-for=@Model.MedicalRecord.FatherTumour class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.MotherObese></label>
            <input asp-for=@Model.MedicalRecord.MotherObese class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for=@Model.MedicalRecord.FatherObese></label>
            <input asp-for=@Model.MedicalRecord.FatherObese class="form-control" />
        </div>
    </div>


    <br />
    <h3>Legutolsó szűrési időpontjaim</h3>
    @foreach (var lastScreening in Model.MedicalRecord.LastScreenings)
    {
        <div class="row">
            <div class="col-md-4">
                <label asp-for=@lastScreening.Key>@lastScreening.Key</label>
                <input asp-for=@lastScreening.Value type="date" class="form-control" />
                <span asp-validation-for=@lastScreening.Value class="text-danger"></span>
            </div>
        </div>
    }

    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-default">Változtatások mentése</button>
    </div>
</form>
