@page
@model ScreeningsModel
@{
    ViewData["Title"] = "Ismertetők";
    var i = 0;
}
<div class="row">
    @foreach (var screening in Model.Screenings)
    {
        <div class="col panel panel-default">
            <h2 class="lead panel-heading">
                <a asp-page="Screening" asp-route-id="@screening.Id">@screening.Name</a>
            </h2>
            <div class="panel-body">
                <p class="lead">Beutaló @(screening.ReferralNeeded ? "szükséges" : "nem szükséges")</p>
                <hr />
                <p class="small">
                    @screening.Description
                </p>
            </div>
        </div>
    }
</div>